GOOGLE_CLOUD_SCOPES=

PINECONE_API_KEY=
OPENAI_API_KEY=
DEFAULT_INDEX_NAME=

AWS_REGION=
AWS_ACCOUNT_ID=
REGISTRY_NAME=
TAG=

GOOGLE_TOKEN_JSON=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URIS=
GOOGLE_AUTH_URI=
GOOGLE_TOKEN_URI=

ACCEPTABLE_EMAIL_DOMAIN=